body{
    display: inline-grid;
    place-items: center;
    width: 100%;
    background-color: #E7E6F7;
}

.game{
    position: relative;
    margin-top: 50px;
    padding: 10px;
    border-radius: 5px;
}

.buttons{
    display: inline-grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
}

.tile{
    border-radius: 5px;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.tile:active,
.active{
    filter: brightness(125%);
}

.green{
    background-color: #0A8754;
}

.red{
    background-color: #E84855;
}

.yellow{
    background-color: #F9DC5C;
}

.blue{
    background-color: #3185FC;
}

#start{
    width: 74px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #E7E6F7;
    background-color: #5603AD;
}

#start:disabled{
    color: #262322;
    background-color: #F3E8EE;
}

.title{
    text-align: center;

}